<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.app.threetier.domain.member.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.threetier.domain.member.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.app.threetier.domain.post.PostVO" alias="postVO"/>
        <typeAlias type="com.app.threetier.domain.post.PostDTO" alias="postDTO"/>
        <typeAlias type="com.app.threetier.domain.reply.ReplyVO" alias="replyVO"/>
    </typeAliases>
</configuration>