<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>개인 정보 수정</title>
</head>
<body>
<form action="/member/update" method="post" th:object="${memberDTO}">
    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{memberEmail}">
    <input type="password" th:field="*{memberPassword}">
    <input type="text" th:field="*{memberName}">
    <button>수정 완료</button>
</form>
</body>
</html>