<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.threetier.mapper.ReplyMapper">
    <insert id="insert">
        INSERT INTO TBL_REPLY (ID, REPLY_CONTENT, MEMBER_ID, POST_ID)
        VALUES (SEQ_REPLY.NEXTVAL, #{replyContent}, #{memberId}, #{postId})
    </insert>
    <select id="selectAll">
        SELECT R2.ID, REPLY_CONTENT, MEMBER_ID, POST_ID, R2.CREATED_DATE, R2.UPDATED_DATE, MEMBER_NAME
        FROM
            (
                SELECT ROWNUM R, R1.ID, REPLY_CONTENT, MEMBER_ID, POST_ID, R1.CREATED_DATE, R1.UPDATED_DATE, MEMBER_NAME
                FROM (SELECT R.ID, REPLY_CONTENT, MEMBER_ID, POST_ID, R.CREATED_DATE, R.UPDATED_DATE, MEMBER_NAME
                      FROM TBL_MEMBER M
                               JOIN TBL_REPLY R
                                    ON M.ID = R.MEMBER_ID AND POST_ID = #{postId}
                      ORDER BY ID DESC) R1
                <![CDATA[
                WHERE ROWNUM <= #{pagination.endRow}
                ]]>
            ) R2
        WHERE R2.R >= #{pagination.startRow}
    </select>

    <select id="selectCount">
        SELECT COUNT(*) FROM TBL_REPLY
        WHERE POST_ID = #{postId}
    </select>

    <update id="update">
        UPDATE TBL_REPLY
        SET REPLY_CONTENT = #{replyContent}, UPDATED_DATE = CURRENT_TIMESTAMP
        WHERE ID = #{id}
    </update>
    <delete id="delete">
        DELETE FROM TBL_REPLY
        WHERE ID = #{id}
    </delete>
</mapper>









