<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.app.mybatis.domain.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.mybatis.domain.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.app.mybatis.domain.PostVO" alias="postVO"/>
        <typeAlias type="com.app.mybatis.domain.PostDTO" alias="postDTO"/>
        <typeAlias type="com.app.mybatis.domain.ReplyVO" alias="replyVO"/>
        <typeAlias type="com.app.mybatis.domain.ReplyDTO" alias="replyDTO"/>
        <typeAlias type="com.app.mybatis.domain.task.PlaceVO" alias="placeVO"/>
        <typeAlias type="com.app.mybatis.domain.task.PlaceDTO" alias="placeDTO"/>
    </typeAliases>
</configuration>