<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.app.mapper.MemberMapper">
    <insert id="insert">
        insert into tbl_member(member_email, member_password, member_name)
        values (#{memberEmail}, #{memberPassword}, #{memberName})
    </insert>

    <select id="selectByMemberEmailAndMemberPassword" resultType="memberVO">
        select id, member_email, member_password, member_name from tbl_member
        where member_email = #{memberEmail} and member_password = #{memberPassword}
    </select>

    <select id="selectById" resultType="memberVO">
        select id, member_email, member_password, member_name
        from tbl_member
        where id = #{id}
    </select>

    <update id="update">
        update tbl_member
        set member_email = #{memberEmail}, member_name = #{memberName}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from tbl_member where id = #{id}
    </delete>

    <select id="selectAll" resultType="memberVO">
        select id, member_email, member_password, member_name from tbl_member
    </select>
</mapper>