<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.test.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO TBL_USER
        VALUES (SEQ_USER.NEXTVAL, #{userEmail}, #{userName}, #{userNickName},#{userPhone}, #{userPassword})
    </insert>
</mapper>
