<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<a href="https://kauth.kakao.com/oauth/authorize?client_id=4759c67a8c35dab21cbdb77f0bb159ad&redirect_uri=http://localhost:10000/kakao/login&response_type=code"><img src="/images/login-page/kakao_login_large_wide.png"></a>
</body>
</html>