<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Page</title>
</head>
<body>
    <a>로그아웃</a>
    <h1 th:text="${session.member.memberKakaoEmail}"></h1>
    <h1 th:text="${session.member.memberName}"></h1>
    <img th:src="${session.member.memberKakaoProfileUrl}" width="80px">
</body>
</html>