<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mybatis.mapper.MemberMapper">
    <insert id="insert">
        INSERT INTO TBL_MEMBER(ID, MEMBER_NAME, MEMBER_AGE, MEMBER_EMAIL, MEMBER_PASSWORD)
        VALUES(SEQ_MEMBER.NEXTVAL, #{memberName}, #{memberAge}, #{memberEmail}, #{memberPassword})
    </insert>
    
    <select id="selectByMemberEmailAndMemberPassword" resultType="memberVO">
        SELECT ID, MEMBER_NAME, MEMBER_AGE, MEMBER_EMAIL, STATUS FROM TBL_MEMBER
        WHERE MEMBER_EMAIL = #{memberEmail} AND MEMBER_PASSWORD = #{memberPassword}
    </select>

    <delete id="hardDelete">
        DELETE FROM TBL_MEMBER WHERE ID = #{id}
    </delete>

    <update id="softDelete">
        UPDATE TBL_MEMBER
        SET STATUS = 0
        WHERE ID = #{id}
    </update>
</mapper>